
<div class="container-fluid userC">
<div class="col-md-12 col-sm-12">

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="sidebarMenu" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

        <div class="genisSideBarAlt">
          <button class="btn btn-danger" (click)="clickEvent()"> = </button>
        </div>


        <!-- <div class="sideBarUst text-center pt-3">
          <div class="logo">
            Hesapbende
          </div>
          <div class="userInfo mt-3">
            <div class="userFoto mb-2" [ngClass]="status ? 'userFotoDar' : 'userFotoGenis'">PH</div>
            <div class="userName" [ngClass]="statusLink ? 'userNameDar' : 'userNameGenis'">
              <span class="d-flex justify-content-center animated fadeInDown">Necati VARİŞ</span>
              <small class="d-flex justify-content-center animated fadeInDown">Dilaz İnşaat A.Ş.</small>
            </div>

          </div>


        </div> -->

        <div class="sideBarOrta">
          <ul class="nav flex-column">


          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="navIcon">AL</span>
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Alşlar</span>
            </a>
          </li> -->
            <li class="nav-item dasboardIcons">
              <!-- <a class="nav-link active" (click) = "dboard()"> -->
                <a class="nav-link active" (click) = "dboard()" routerLink="dboard">
                <span class="navIcon"><img src="https://img.icons8.com/color/16/000000/dashboard-layout.png"/></span><br/>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p>DASHBOARD</p> </span>
              </a>
            </li>

            <li class="nav-item dasboardIcons">
              <a class="nav-link active" routerLink="users">
                <span class="navIcon"><img src="https://img.icons8.com/office/16/000000/person-male.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><br/>USERS</span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" routerLink="account">
                <span class="navIcon"><img src="https://img.icons8.com/material-outlined/24/4a90e2/accounting.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">ACCOUNT</span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" routerLink="message">
                <span class="navIcon">
                  <img src="https://img.icons8.com/material-outlined/24/4a90e2/read-message.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" >MESSAGES</span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" routerLink="bookmark">
                <span class="navIcon">
                  <img src="https://img.icons8.com/material-outlined/24/000000/bookmark-ribbon--v1.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" >BOOKMARK</span>
              </a>
            </li>

            <li class="nav-item dasboardIcons">
              <a class="nav-link active" routerLink="files">
                <span class="navIcon"><img src="https://img.icons8.com/material-outlined/24/000000/edit-folder.png"/></span>
                <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><br/>FILES</span>
              </a>
            </li>

          </ul>
        </div>



      </div>
    </div><!--End  col 6 -->


    <div class="col-md-8 col-sm-8 table_align">
      <router-outlet></router-outlet>
      <div *ngIf ="tableContent">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>





    </div><!--END COL8-->

  </div><!--End row-->

</div><!--End col-->

</div><!--End con-->


