
<div class="container-fluid userC">
<div class="col-md-12 col-sm-12">

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="sidebarMenu" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

        <div class="genisSideBarAlt">
          <button class="btn btn-danger" (click)= "clickEvent()"> = </button>
        </div>


        <!-- <div class="sideBarUst text-center pt-3">
          <div class="logo">
            Hesapbende
          </div>
          <div class="userInfo mt-3">
            <div class="userFoto mb-2" [ngClass]="status ? 'userFotoDar' : 'userFotoGenis'">PH</div>
            <div class="userName" [ngClass]="statusLink ? 'userNameDar' : 'userNameGenis'">
              <span class="d-flex justify-content-center animated fadeInDown">Necati VARİŞ</span>
              <small class="d-flex justify-content-center animated fadeInDown">Dilaz İnşaat A.Ş.</small>
            </div>

          </div>


        </div> -->

        <div class="sideBarOrta">
          <ul class="nav flex-column">


          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="navIcon">AL</span>
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Alşlar</span>
            </a>
          </li> -->
            <li class="nav-item dasboardIcons">
              <!-- <a class="nav-link active" (click) = "dboard()"> -->
                <a class="nav-link active" (click) = "dashboardContent()" routerLink="dboard">
                <span class="navIcon"><img src="https://img.icons8.com/material-sharp/24/000000/dashboard-layout.png"/></span><br/>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p class="sidenavAlign">DASHBOARD</p> </span>
              </a>
            </li>

            <li class="nav-item dasboardIcons">
              <a class="nav-link active"  (click) = "dashboardContent()" routerLink="users">
                <span class="navIcon"><img src="https://img.icons8.com/ios-filled/24/000000/user.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p  class="sidenavAlign">USERS</p></span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" (click) = "dashboardContent()" routerLink="account">
                <span class="navIcon"><img src="https://img.icons8.com/material-two-tone/24/000000/positive-dynamic.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"><p class="sidenavAlign">ACCOUNT</p></span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" (click) = "dashboardContent()" routerLink="message">
                <span class="navIcon">
                  <img src="https://img.icons8.com/windows/24/000000/read-message--v1.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p class="sidenavAlign">MESSAGES</p></span>
              </a>
            </li>
            <li class="nav-item dasboardIcons">
              <a class="nav-link active" (click) = "dashboardContent()" routerLink="bookmark">
                <span class="navIcon">
                  <img src="https://img.icons8.com/windows/24/000000/favourite-file.png"/></span>
                <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p class="sidenavAlign">BOOKMARK</p></span>
              </a>
            </li>

            <li class="nav-item dasboardIcons">
              <a class="nav-link active" (click) = "dashboardContent()"  routerLink="files">
                <span class="navIcon"><img src="https://img.icons8.com/material-outlined/24/000000/edit-folder.png"/></span>
                <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'" ><p class="sidenavAlign">FILES</p></span>
              </a>
            </li>

          </ul>
        </div>



      </div>
    </div><!--End  col 6 -->


    <div class="col-md-8 col-sm-8 table_align">
      <router-outlet></router-outlet>
      <div *ngIf ="tableContent">  <!---tableContent START-->


        <div class="col-md-12 col-sm-12">

          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2019/04/angular-homepage.jpg" class="d-block w-100 carousel_image" alt="Angular">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p> -->
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://cdn.thenewstack.io/media/2022/01/10b88c68-typescript-logo-1024x576.png" class="d-block w-100 carousel_image" alt="Typescript">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p> -->
                </div>
              </div>
              <div class="carousel-item"  data-bs-interval="2000">
                <img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png" class="d-block w-100 carousel_image" alt="Nodejs">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p> -->
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div> <!--col 12 end -->

        <div class="col-md-12 col-sm-12 card_align">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="card card_text" style="width: 18rem;">
                <img src="
                https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2019/04/angular-homepage.jpg" class="card-img-top card_size image_change" alt="Angular">
                <div class="card-body card_top ">
                  <p class="card-text card_text_align">Angular</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card_text" style="width: 18rem;">
                <img src="https://cdn.thenewstack.io/media/2022/01/10b88c68-typescript-logo-1024x576.png" class="card-img-top card_size" alt="Typescript">
                <div class="card-body card_top">
                  <p class="card-text card_text_align">Typescript</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card_text" style="width: 18rem;">
                <img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png" class="card-img-top card_size" alt="Nodejs">
                <div class="card-body card_top">
                 <p class="card-text card_text_align">Node JS</p>

                </div>
              </div>
            </div>
          </div>


        </div>


    </div> <!---tableContent END -->





    </div><!--END COL8-->

  </div><!--End row-->

</div><!--End col-->

</div><!--End con-->



