<div class="app_c">

  <div class="container-fluid app_text">

      <div *ngIf="logoutContent">

      <div class="col-xs-12">

      <div class="row">
        <div class="col-8 header_c_app"> <h1 class="angularText"><img
          src="https://img.icons8.com/color/48/000000/angularjs.png"
        />&nbsp;&nbsp;Angular Admin Page</h1>   </div>
        <div class="col-4 ">

          <div id="currentTime">
    <h6 *ngIf="usernameVisible">
      <img src=" https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000" alt="Avatar" class="avatar">&nbsp;&nbsp;{{username}}</h6>

          <p *ngIf="datetimeVisible">&nbsp;&nbsp;{{now | date:'shortTime'}} &nbsp;&nbsp;Logout
            <a  (click)="logout()">

              <img src="https://img.icons8.com/color-glass/48/000000/power-off-button.png"/></a></p>
            </div>

        </div>

      </div>

    </div>
    </div>
    <!--logoutContent END-->
 </div>


   <!--Header C-->
    <div *ngIf= "visible">
      <div class="container">
        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-sm-4"></div>

            <div class="col-md-4 col-sm-4">
              <div class="login_page">

                <form #register="ngForm"
                (submit)="Getfromdata(register.value)" autocomplete="off">


                  <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label"
                      >USER NAME</label
                    >
                    <input
                      required
                      name="name"
                      type="text"
                      [(ngModel)]="username"
                      class="form-control"
                      autocomplete="off"
                      minlength="2"
                      #name="ngModel"
                      ngModel
                    />
                    <span
                    *ngIf="name.invalid && name.touched"
                    class="errormessage"
                    >Please Enter Vaild Data</span
                  >
                    <!-- <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                  </div> -->
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >PASSWORD
                    </label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      autocomplete="off"
                      minlength="2"
                      name="pwd"
                      required
                      #pwd="ngModel"
                      ngModel
                    />
                    <span
                    *ngIf="pwd.invalid && pwd.touched"
                    class="errormessage"
                    >Please Enter Vaild Data</span
                  >
                  </div>
                  <!-- <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Check me out</label
                  >
                </div> -->
                  <button type="submit" class="btn btn-primary"         [disabled]="register.invalid"  (click)= "login()">Submit</button
                  >&nbsp;&nbsp;
                  <button type="reset" value="Reset" class="btn btn-primary">
                    Reset
                  </button>
                </form>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div>
                <ul style="list-style-type: none">
                  <li>{{ displayData.username }}</li>

                </ul>
              </div>
            </div>
          </div>
          <!--Row End-->
        </div>
        <!-- Col End-->
      </div>
      <!--Con End-->


      </div> <!--visible end-->
       <!--Loginform C-->

       <router-outlet></router-outlet>
  </div>




