<div class="app_c">
  <h1 class="app_text">
    <img
      src="https://img.icons8.com/color/48/000000/angularjs.png"
    />&nbsp;&nbsp;Angular Admin Page
  </h1>
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>

        <div class="col-md-4 col-sm-4">
          <div class="login_page">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >USER NAME</label
                >
                <input
                  required
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />

                <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >PASSWORD
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  required
                />
              </div>
              <!-- <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div> -->
              <button type="submit" class="btn btn-primary">Submit</button
              >&nbsp;&nbsp;
              <button type="reset" value="Reset" class="btn btn-primary">
                Reset
              </button>
            </form>
          </div>
        </div>

        <div class="col-md-4 col-sm-4"></div>
      </div>
      <!--Row End-->
    </div>
    <!-- Col End-->
  </div>
  <!--Con End-->
</div>
