
 <table class="table table-striped table-info  table-bordered  ">

  <thead>

      <tr>

        <th>ID</th>

        <th>Name</th>

        <th>Email</th>

        <th>Gender</th>
        <th>Age</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>Address</th>

      </tr>

  </thead>

  <tbody>

    <tr *ngFor="let student of students">

      <td>{{ student.id }}</td>

      <td>{{ student.name }}</td>

      <td>{{ student.email }}</td>

      <td>{{ student.gender }}</td>

      <td>{{ student.age }}</td>

      <td>{{ student.fatherName }}</td>

      <td>{{ student.motherName }}</td>

      <td>{{ student.address }}</td>

    </tr>

  </tbody>

</table>





