/* You can add global styles to this file, and also import other style files */
.app_text {
  text-align: center;
  padding: 25px;
  border: 1px solid #616161;
}
.login_page {
  padding: 60px;
}
.app_c {
  background-color: #f5f5f5;
  min-height: 800px;
  max-height: 1200px;
}
.userC {

  background-color: #F0ECE3;;
}
.dasboardIcons
{

  padding-top: 10px;
  padding-bottom: 10px;
}

.tableAlign
{

  width:10px;
}
.header_c_app{

  text-align: right;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.errormessage {
  color: red;
  /* display: none; */
}
.angularText{

  padding-top:24px
}

.table_align{
  left: 246px;
  position: absolute;
  padding-top:20px;
  padding-bottom:20px;
}
.carousel_image{

  width:900px;
  height: 400px;
  border-radius: 4%;
}
.card_align
{

  padding-top:35px;

}
.card_size{

  height: 161px;
  width: 286px;
}

.card_text{
  border:1px solid black;
}
.card_top{

  border-top: 3px solid #E21717;
  background-color: #1976D2;
}

.card_text_align{

  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
/* .card_hover{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
hover::card_hover {
  color: black;

} */
